<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Todos App</title>

  <!-- App Icon -->
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/7692/7692809.png">

  <!-- External CSS -->
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <div class="register-container">
    <h1>Welcome Back</h1>
    <form action="/login" method="post">
      <div><input type="email" name="email" placeholder="Email Address" required></div>
      <div><input type="password" name="password" placeholder="Password" required></div>
      <div><input type="submit" value="Login"></div>
    </form>

    <div class="footer-text">
      Don’t have an account? <a href="/register">Register</a>
    </div>
  </div>
</body>
</html>
